
<div class="swiper item_swiper store_page">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    {% for image in product.images %}
      <div class="swiper-slide"><a href="{{ product.url }}">
        <img class="store_item lazyload"
          src="{{ image | img_url: '200x' }}"
          data-src="{{ img_url }}">
        {% comment %} <img src="{{ pic | image_url }}" class="store_item"> {% endcomment %}
      </div>
    {% endfor %}

    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>

  
  <a href="{{ product.url }}" class="item_info">
    <strong style="color: #908e90">{{ product.title }}</strong>
    <div>{{ product.price | money }}</div>
  </a>
</div>
