
  <div class="swiper front_page">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      {% for product in collections['front-slider'].products %}

        
          <div class="swiper-slide">
            <a href="{{ product.url }}">

                          
                <img class="intro_item slideshow__image slideshow__image--{{ block.id }} lazyload"
                  src="{{ product.featured_image | img_url: '2048x' }}"
                  data-src="{{ img_url }}"
                  data-widths="[540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048]"
                  data-aspectratio="{{ product.featured_image.aspect_ratio }}"
                  data-sizes="auto"
                  data-parent-fit="cover"
                  alt="{{ block.settings.image.alt | escape }}">
              
              </a>

            {% comment %} <a href="{{ product.url }}"><img src="{{ product.featured_image | image_url }}" class="intro_item"></a> {% endcomment %}
          
          </div>
      {% endfor %}

    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>

    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>

  </div>