<div class="page_container">
  <div id="product_swiper_container">
    <div class="swiper item_swiper product_page">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        {% for image in product.images %}
          <div class="swiper-slide"><img src="{{ image | image_url}}" class="product_page_image"></div>
        {% endfor %}

        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>


  <div id="product_container">
    <h3>{{ product.title }}</h3>

    {% for size in product.variants %}
      <h4 class="product_space">Size: <strong>{{ size.title }}</strong></h4>

      <p class="product_space product_fix">{{ product.price | money }}</p>

      {% form 'product', product, class: "product_fix" %}  
        <input type="hidden" name="id" value="{{ size.id }}"> 
        <button type="submit" class="button">Add to cart</button>
      {% endform %}
    {% endfor %}

  </div>
  <div class="product_description">{{ product.description }}</div>



</div>